.mainPage{
   text-align: center;
    padding: 50px;
}
.mainPage__btn{
    font-size: 15px;
    min-width: fit-content;
    max-width: 150px;
    padding: 10px;
    margin:10px;
    border: none;
    border-radius: 10px;
    background-color: #cccccc;
    font-weight: 700;

}